h1{
    text-align: center;
    color: lightblue;
    font-family:'hachi maru pop', cursive;
}

.postTitle{
    font-family:SignPainter;
    color: black;
    text-decoration: underline;
}

#postContentOne{
font-family:SignPainter;
    border: black;
    background-color: lightpink;
}

#postContentTwo{
    font-family:'hachi maru pop' ,cursive;
    text-decoration: black;
    border-color: blueviolet;
    background-color: blanchedalmond;
}

body{
    background-color: burlywood;
}
