.my-form {
    padding: 20px;
}
.my-form.form-group {
    padding-bottom: 15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form input[type="password"], .my-form textarea {
    padding: 8px;
    width: 100%;
}
.my-form input[type="submit"] {
    color: white;
    background-color: black;
}

#year-input{
    width: 25%;
}

#contract{
    width: 25%;
}

#name{
    width: 25%;
}

#ss\#-uigid{
    width: 5%;
}

#dob{
    width: 10%;
}

#address{
    width: 30%;
}

#permanent-address{
    width: 30%;
}

#contact-number{
    width: 10%;
}

#email{
    width: 35%;
}

#guardian{
    width: 25%;
}

#particular-roomate{
    width: 20%;
}

h4{
    color: darkgreen;
}

h5{
    text-align: right;
    color: darkgreen;
}
