h1 {
    text-align: center;
    border: lightblue solid 3px;
}

h3{
    text-align: center;
    border: lightblue solid;
}

.postTitle{
    font-family: cursive;
    color: white;
}

#box-model{
    border-left: orange solid 12px;
    border-top: blue solid 12px;
    border-bottom: red solid 12px;
    border-right: green solid 12px;
    background-color: black;
/*    padding */
/*    padding: 20px; one number = applies all around*/
/*    padding: 20px 50px;*/
/*    two number= top and bottom/ left and right*/
    padding: 20px 50px 100px 60px;
/*    top=20 right=50 bottom=100 left=60*/

/*   margin */
/*    margin: 50px;*/
/*    margin: 50px 80px;*/
/*    margin: 50px 80px 100px 30px;*/

    margin: 100px 400px;
}
