ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;

}
li{
    float: left;
}

li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: lightpink;
}

#title{
    text-align: center;
    font-family: SignPainter;
    height: 50px;
    background-color: whitesmoke;
}

#sidebar{
    text-align: right;
    height: 300px;
    background-color: midnightblue;
    float:left;
    width: 30%;

}

#content{
    height: 40px;
    background-color: lightpink;
    float: right;
    width: 50%;
}

#footer{
    height: 200px;
    background-color: midnightblue;
    float: left;
    width: 100%;
}
