    .container{
    width:50% ;
    padding: 50px;
    margin:auto ;
}
    .card{
        background-color: #4C4C4C;
        width: 450px;
        height: 250px;
        border-radius: 15px;
        margin: auto;
    }


