/* comment line */
/* notes */

/* EXTERNAl CSS */

/* selector by element */
h1{
    text-align: center;
    color: darkorange;
    font-family: 'roboto', sans-serif;
}



/* select by class name*/
.postTitle {
    color: blue;
    text-decoration: underline;
}

/* select by id name*/
#postContentOne {
    font-family: 'roboto', sans-serif;
    border: black;
    background-color: palevioletred;
}

#postContentTwo{
    font-family:fantasy;
    text-decoration: line-through;
    border: red;
    background-color:cornflowerblue ;

}
