.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-gap: 1rem;
}

.row{
    width: 100%;
    border: 2px black solid;

}

.row:after{
    content: "";
    display: table;
    clear:both;
}

/*after pseudo element is used to ensure that
our rows start a new section VERTICALLY*/

.column{
    float: left;
    padding: 10px;
    border: 1px solid black;
    color: #0F0F0F;
    box-sizing: border-box;
    height: 50px;
}

.column.one-half{
    width: 50%;
    background-color: lightgray;
}

.column.one-third{
    width: 33.3%;
    background-color: lightgray;
}

.column.one-fourth{
    width:25% ;
    background-color: lightgray;
}

.column.one-eighth{
    width: 12.5%;
    background-color: lightgray;
}


/*EXAMPLE 2 GRID STYLE*/
.card-holder{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;

}

.card{
    background-color:darkgrey;
    color: black;
    padding: 1rem;
    height: 4rem;
}
/*Responsive Layout*/
/*MEDIA QUERIES*/
@media (min-width:600px) {
    .card-holder{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width:900px) {
    .card-holder{
        grid-template-columns: repeat(3,1fr);
    }
}
