h1 {
    text-align: center;
    color: black;
    font-family: 'hachi maru pop', cursive;


}

h6{
    text-align: center;
    color: #0F0F0F;
    font-family: fantasy;
}

h3{
    text-align: left;
    color: black;
    font-family: 'hachi maru pop', cursive;

}

body{
    background-color:lightpink;
}

.postTitle{
    text-align: center;
    color: #0F0F0F;
    font-family: Luminari;
}

#postContentTwo{
    text-align: center;
    font-family: Luminari;
}

#postContentOne{
    text-align: center;
    font-family: Luminari;
}

#postcontentthree{
    text-align: center;
    font-family: Luminari;
}

#postcontentfour{
    text-align: center;
    font-family: Luminari;
}

#postcontentfive{
    text-align: center;
    font-family: Luminari;
}



